
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}
<h1>编辑用户</h1>
<div class="row" style="width:80%;">
    <div class="col-md-12">
        @using (Html.BeginForm("EditUser", "Sys", FormMethod.Post, new { @id = "form1", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.Partial("Partial/_UserPartial")
        }
    </div>
</div>
<script>
    $(function () {
        Submit("btnSave", "form1", "/Manage/Sys/EditUser", "保存记录成功", true, beforeFun, afterFun);
    });

    function FillUser(){

    }

    var beforeFun = function () {
        //放验证代码,验证不通过返回false
        if (!IsRequired(".IsRequired")) {
            return false;
        }
        return true;
    }

    var afterFun = function (flag) {

    }
</script>

