
@{
    ViewBag.Title = "Users";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}
<h1>用户列表</h1>
<div class="row">
    <div class="col-md-12">
        @RenderPage("~/Areas/Manage/Views/Shared/Uc/_GridPartial.cshtml")
    </div>
</div>
<div class="row templatemo-form-buttons" style="padding-top">
    <div class="col-md-12">
        <button id="btnEdit" type="button" class="btn btn-primary SubmitLock" data-toggle="modal">编辑</button>
    </div>
</div>
<script>
    BindEdit($("#btnEdit"), "EditUser");
</script>
